@charset "UTF-8";

#contents-main {
    width: 100%;
    height: 30em;

    background-image: url("./images/Math_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "NanumSquareB";
    font-size: 1.2em;
    text-align: center;
    color: white;
    line-height: 1.25em;
}

#contents-main .pink-rectangle {
    background-color: #ff75c7;
    border-radius: 120px;
    padding: .7em 0em;
    width: 26em;
}

html[lang="en"] #contents-main .pink-rectangle {
    width: 41em;
}

#contents-main .pink-rectangle p {
    margin: 0em;
}

#contents-main img {
    max-width: 440px;
    width: 13em;
    height: auto;
    padding: 2em 0em;
}

#contents-main .info {
    color: #6b6b6b;
    line-height: 1.5em;
}

@media screen and (max-width: 425px) {
    html[lang="en"] #contents-main {
        font-size: .8em;
        line-height: 1em;
    }

    html[lang="en"] #contents-main .pink-rectangle {
        width: 95%;
    }

    html[lang="en"] #contents-main .info p {
        line-height: 1em;
    }
}
