@charset "UTF-8";

#contents-main {
    width: 100%;
    position: relative;
}

#contents-main > picture:first-child {
    display: block;
    width: 100%;
}

#contents-main > picture:first-child img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-family: "NanumSquareB";
    text-align: center;
    color: #1a1a1a;
    line-height: 1.25;

    width: 100%;

    padding-top: 1em;
    padding-bottom: 4em;
}

.hero-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
}

.hero-images .side img {
    display: block;
    width: auto;
    height: 11.25vw;
    max-height: 216px;
}

.hero-content .pink-rectangle {
    background-color: #ff75c7;
    border-radius: 4em;
    padding: .7em 1.5em;
    width: auto;
    font-family: "NanumSquareEB";
    font-size: clamp(12px, 1.5625vw, 30px);
    color: #ffffff;
}

.hero-content .pink-rectangle p {
    margin: 0em;
}

.hero-content .logo img {
    max-width: 580px;
    width: 19.33em;
    height: auto;
    padding: .7em 0 .5em;
}

.hero-content .info {
    font-family: "NanumSquareB";
    font-size: 1.2em;
    color: #1a1a1a;
    line-height: 1.5;
    margin-top: 0.3em;
}

.hero-content .info p {
    margin: 0;
    color: #ffc72e;
    font-size: clamp(12px, 1.979vw, 38px);
}

.hero-content .info .TxtNeon00 {
    color: #a35ff2;
}

@media screen and (max-width: 425px) {
    .hero-content br.responsive-break {
        display: none;
    }

    .hero-images {
        gap: .5em;
    }

    .hero-images .side img {
        height: 24px;
    }

    .hero-content .logo img {
        width: 12em;
    }

    .hero-content .hero-images > picture:nth-child(1),
    .hero-content .hero-images > picture:nth-child(3) {
        display: none;
    }

    .hero-content .info {
        font-size: .9em;
    }

    .hero-content .pink-rectangle {
        padding: .5em 1em;
        border-radius: 2em;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        word-break: break-all;
        overflow-wrap: anywhere;
    }
}
