@charset "UTF-8";

#contents-main {
    width: 100%;
    position: relative;
}

#contents-main > picture:first-child {
    display: block;
    width: 100%;
}

#contents-main > picture:first-child img {
    display: block;
    width: 100%;
    height: auto;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-family: "NanumSquareB";
    text-align: center;
    color: #1a1a1a;
    line-height: 1.25;

    width: 100%;

    padding-top: 1em;
    padding-bottom: 4em;
}

.hero-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
}

.hero-images .side img {
    display: block;
    width: auto;
    height: 7.44em;
    max-height: 216px;
}

.hero-content .pink-rectangle {
    background-color: #ff75c7;
    border-radius: 4em;
    padding: .7em 8.5em;
    width: auto;
    font-family: "NanumSquareEB";
    font-size: clamp(12px, 1.5625vw, 30px);
    color: #ffffff;
}

.hero-content .pink-rectangle p {
    margin: 0em;
}

.hero-content .logo img {
    max-width: 580px;
    width: 19.33em;
    height: auto;
    padding: .7em 0 .5em;
}

.hero-content .info {
    font-family: "NanumSquareB";
    font-size: 1.2em;
    color: #1a1a1a;
    line-height: 1.5;
    margin-top: 0.3em;
}

.hero-content .info p {
    margin: 0;
    color: #ffc72e;
    font-size: clamp(12px, 1.979vw, 38px);
}

.hero-content .info .TxtNeon00 {
    color: #a35ff2;
}

.hero-dt { display: inline; }
.hero-mb { display: none; }

@media screen and (max-width: 768px) {
    .hero-images {
        gap: .5em;
        width: 90%;
    }

    .hero-content .logo img {
        width: 13.33em;
    }

    .hero-content .hero-images > picture:nth-child(1),
    .hero-content .hero-images > picture:nth-child(3) {
        display: none;
    }

    .hero-content .info p {
        margin-top: 2em;
        font-size: clamp(13.9944px, 3.905vw - 2.602px, 27.388px);
    }

    .hero-dt { display: none; }
    .hero-mb { display: inline; }

    .hero-content .pink-rectangle {
        padding: .5em 1em;
        border-radius: 2em;
        width: 95%;
        max-width: 95%;
        box-sizing: border-box;
        word-break: break-all;
        overflow-wrap: anywhere;
        margin-top: 1em;
        margin-bottom: 2em;
        font-size: clamp(12px, 2.5625vw, 30px);
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .hero-content .logo img {
        width: clamp(186.6px, 31.25vw + 53.8px, 293.8px);
    }

    .hero-images .side img {
        height: clamp(3.5em, 13.5vw, 7.44em);
        max-height: 216px;
    }

    .hero-content .pink-rectangle {
        padding: .7em clamp(2em, 6vw, 8.5em);
        width: auto;
    }
}
