@charset "UTF-8";

html {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-size: clamp(10px, 1.5vw + 1.2px, 30px);
}

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    word-break: keep-all;
    overflow-x: hidden;
}

body ul {
    list-style: none;
}

body a {
    text-decoration: none;
}

.highlight {
    color: #00c8c8;
}

span.TxtNeon00 {
    color: #8e2fea;
}


@media screen and (max-width: 425px) {
    br.en.responsive-break {
        display: none;
    }
}
